.card {
    width: 500px;
    height: 400px;
    background-color: #022c43;
    border: 10px solid rgba(0,0,0,.125);
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}
  