.page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top-tags {
    bottom: auto;
    top: 35px;
  }

  .tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 110px;
    font-size: 18px;
    font-family: "La Belle Aurore";
  }

  .bottom-tag-html {
    margin-left: -20px;
  }

  .container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 2s forwards;
    animation-delay: 2s;

    &.sidebar-open {
      left: 250px; // Adjust as needed
    }
  }

  .hamburger-icon {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
    // Add styles for the hamburger icon, such as background, border, and transition
  }

  .sidebar {
    width: 250px; // Adjust as needed
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; // Adjust as needed
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
    overflow-y: auto; // Enable vertical scrolling if needed
  }

  .sidebar-open {
    transform: translateX(0);
  }

  .about-page,
  .contact-page {
    .text-zone {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 35%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;

      h1 {
        font-size: 53px;
        font-family: "Coolvetica";
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 25px;
        left: 10px;

        &::before {
          content: "<h1>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;
        }

        &::after {
          content: "</h1>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          margin-left: 20px;
          opacity: 0.6;
          line-height: 18px;
        }
      }

      h2 {
        font-size: 35px;
        font-family: "Coolvetica";
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
          content: "<h2>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;
        }

        &::after {
          content: "</h2>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          margin-left: 20px;
          opacity: 0.6;
          line-height: 18px;
        }
      }

      p {
        font-size: 11px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
          animation-delay: 1.2s;
        }
        &:nth-of-type(2) {
          animation-delay: 1.3s;
        }
        &:nth-of-type(3) {
          animation-delay: 1.4s;
        }
      }
    }

    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }
  .projects-page {
    .text-zone {
      position: absolute;
      left: 10%;
      
      transform: translateY(-10%);
      width: 20%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;

      h1 {
        font-size: 53px;
        font-family: "Coolvetica";
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 50px;
        left: 10px;

        &::before {
          content: "<h1>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;
        }

        &::after {
          content: "</h1>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          margin-left: 20px;
          opacity: 0.6;
          line-height: 18px;
        }
      }

      h2 {
        font-size: 35px;
        font-family: "Coolvetica";
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
          content: "<h2>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;
        }

        &::after {
          content: "</h2>";
          font-family: "La Belle Aurore";
          font-size: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          margin-left: 20px;
          opacity: 0.6;
          line-height: 18px;
        }
      }

      p {
        font-size: 11px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;
        top: 10%;
        &:nth-of-type(1) {
          animation-delay: 1.2s;
        }
        &:nth-of-type(2) {
          animation-delay: 1.3s;
        }
        &:nth-of-type(3) {
          animation-delay: 1.4s;
        }
      }
    }

    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }

  .content {
    flex: 1;

    padding: 20px 20px 0 20px; 
  }

  @media (min-width: 769px) {
    flex-direction: row;
    .content {
      overflow-y: hidden;
    }
  }

  @media (max-width: 900px) {
    .content {
      height: calc(100vh - 60px);
      padding: 20px 20px 0 20px; 
    }
  }

  /* Responsive Design */
  @media only screen and (max-width: 480px) {
    .container {
      top: 50%;
      transform: translateY(-50%);
      padding: 20px 20px 0 20px; 
    }

    .tags {
      font-size: 14px;
      left: 10px;
    }

    .about-page,
    .contact-page,
    .projects-page {
      .text-zone {
        left: 5%;
        width: 90%;
        top: 10%;
        transform: translateY(0);

        h1 {
          font-size: 30px;

          &::before,
          &::after {
            font-size: 12px;
          }
        }

        h2 {
          font-size: 20px;

          &::before,
          &::after {
            font-size: 12px;
          }
        }

        p {
          font-size: 9px;
        }
      }
    }
  }
}
